* {
    box-sizing: border-box;
  }
  body{
    margin: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: hsl(210, 46%, 95%);
  }

  .container {
    min-height: 800px;
    display: grid;
    gap: 24px;
    padding-bottom: 10rem;
    max-width: 1000px;
    margin-inline: auto;
    background-color: hsl(210, 46%, 95%);
  }
  
  .box {
    min-height: 100px;
    text-align: left;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    border-radius: 1rem;
    padding-block: 2rem;
    font-size: 15px;
  }
  
  img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .heading{
    display: flex;
    font-weight: 500;
  }
  h4{
    padding-block: 0;
    margin-block: 0px;
    color: hsl(210, 46%, 95%);
  }
  h2{
    color: hsl(210, 46%, 95%);
    font-weight: 600;
    z-index: 10;
    position: sticky;
  }
  p{
    color: hsl(0, 0%, 81%);
    font-weight: 500;
  }
  span {
    color: hsl(0, 0%, 81%);
  }
  section, h2, p {
    padding-inline: 2rem;
  }
  .intro{
    text-align: left;
  }
  #font-dark{
    color:hsl(217, 19%, 35%) ;
  }
  #font-color{
    color:hsla(217, 19%, 35%, 0.711);
  }
  .box-1 {
    background-color: hsl(263, 55%, 52%);
  }
  
  .box-2 {
    background-color: hsl(217, 19%, 35%);
  }
  
  .box-3 {
    background-color: white;
  }
  
  .box-4 {
    background-color: white;
  }
  
  .box-5 {
    background-color: hsl(219, 29%, 14%);
  }
  #quotation{
    border-radius: 0px;
    z-index: 1;
    width: 150px;
    position: absolute;
    top: 2%;
    right: 2%;
  }
  @media (min-width:500px) {
    .container{
      grid-template-columns: repeat(2, 1fr);
    }
    .box{
      min-height: 300px;
    }
    .box-1{
      grid-column: span 2;
    }
    .box-3{
      grid-row: span 2;
    }
    .box-5{
      grid-column: span 2;
    }
    #quotation{
        position: absolute;
        top:2% ;
        right: 5%;
    }
  }
  @media (min-width:800px) {
    .container{
      grid-template-columns: repeat(4, 1fr);
    }
    .box-1{
      grid-column: span 2;
    }
    .box-3{
      grid-row: span 2;
    }
    .box-5{
      grid-column: span 2;
    }
    #quotation{
      position: absolute;
      top:2% ;
      right: 52%;
    }
  }